:root {
	--nav-height: 40px;
	--top-tab-bar-height: 56px;
	--bottom-tab-bar-height: 56px;
}

* {
	margin: 0 0;
	padding: 0 0;
}

.one-line-ellipsis {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.cursor-pointer{
	cursor: pointer;
}
